@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background-color: #d7d7d7;
  font-family: Bricolage Grotesque, "Courier New", Courier, monospace;
}

.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (max-width: 991px) {
  .container {
  padding: 0 10px;

  }
}